html {
  font-size: 12px;   /* default is 16px */
}

.custom-checkbox input[type="checkbox"]{
  accent-color: green;
  width: 16px;
  height: 16px;
  border: 1px solid black;
} 

.custom-checkbox2 input[type="checkbox"]{
   accent-color: green;
  border: 1px solid black;
} 

/* .form-control,
.form-select {
  height: 32px !important;
  font-size: 14px;
  padding: 4px 8px;
}

.form-label {
  font-size: 13px;
  margin-bottom: 2px;
} */

/* .form-label {
  font-size: 13px;
  white-space: nowrap;
}

.form-control,
.form-select {
  height: 30px;
  font-size: 13px;
  padding: 2px 6px;
} */


